.wp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wp-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 640px;
  margin: auto;
}

.wp-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wp-header img {
  width: 80px;
  height: auto;
  margin-right: 10px;
}

.wp-title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.wp-title {
  margin: 0;
}

.wp-subtitle {
  margin: 0;
  font-size: 16px;
}

.wp-submit-btn {
  background: rgb(0, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 255, 255, 1) 0%,
    rgba(170, 255, 255, 1) 100%
  );
  border: none;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
  width: 25%;
  margin-top: 5%;
  margin-bottom: 2%;
}
.wp-submit-btn:hover {
  background: linear-gradient(
    90deg,
    rgb(5, 212, 212) 0%,
    rgb(130, 196, 196) 100%
  );
}

.highlight {
  color: var(--secondary-color);
}

.wp-text {
  text-align: center;
}
