.box-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 10px;
  width: 95%;
  height: 95%;
  margin-top: 20px;
}

.box {
  padding: 20px;
  text-align: center;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.row1 {
  grid-column: 1 / -1;
}

.row2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}
