.dr-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dr-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 960px;
  margin: auto;
}
h2 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #f4f4f4;
}
.dr-form-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  width: 100%;
}

.dr-form-group > div {
  flex: 1 1 30%;
  margin-right: 10px;
}

.dr-form-group > div:last-child {
  margin-right: 0;
}

textarea {
  width: 93%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #444;
  color: #c9c9c9;
}

input,
select {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #444;
}
input::placeholder {
  color: #ccc;
}
.dr-submit-btn {
  background-color: #ff7846;
  border: none;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  width: 250px;
}
.dr-submit-btn:hover {
  background-color: #e06c41;
}

.highlight {
  color: var(--secondary-color);
}

.dr-select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #444;
  color: #fff;
}
.dr-select option {
  background-color: #444;
  color: #fff;
}

