.fp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.fp-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 640px;
  margin: auto;
}

.fp-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fp-header img {
  width: 80px;
  height: auto;
  margin-bottom: 10px;
}

.fp-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fp-title {
  margin: 0;
}

.fp-subtitle {
  margin: 0;
  font-size: 16px;
}

.fp-text {
  text-align: center;
  margin-top: 10px;
}

.fp-submit-btn {
  background: rgb(0, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 255, 255, 1) 0%,
    rgba(170, 255, 255, 1) 100%
  );
  border: none;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
  width: 30%;
  margin-top: 20px;
  margin-bottom: 2%;
}

.fp-submit-btn:hover {
  background: linear-gradient(
    90deg,
    rgb(5, 212, 212) 0%,
    rgb(130, 196, 196) 100%
  );
}

.highlight {
  color: var(--secondary-color);
}
