.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  padding: 0px 20px 20px 20px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  color: #646464;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #646464;
}
