h1 {
  margin: 0 0 10px 0;
}

h2 {
  color: #00ffff;
  margin: 0px;
  text-align: center;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
}

.nutrition-info {
  flex: 3;
  color: white;
  padding-left: 20px;
}
.nutrition-info > * {
  margin: 0;
}

.customize {
  display: flex;
  flex: 7;
  padding: 0px;
  color: white;
  align-items: center;
}

.cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
