.customize h1 {
  margin: 0 0 10px 0;
}

.nutrition-container h2,
#schedule-heading {
  color: #00ffff;
  margin: 0px;
  text-align: center;
  font-family: sans-serif;
  font-size: 22px;
}

#schedule-heading {
  margin-bottom: 10px;
}

.nutrition-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  margin-bottom: 10px;
}

.nutrition-info {
  flex: 3;
  color: white;
  padding-left: 20px;
}
.nutrition-info > * {
  margin: 0;
}

.customize {
  display: flex;
  flex: 7;
  padding: 0px;
  color: white;
  align-items: center;
}

.cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.error {
  color: white;
  margin-bottom: 0px;
}
