#UserPreferencesForm{
    width: 400px;
    height: 150px;
    padding: 10px;     
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px;    
    resize: none;       
    box-sizing: border-box; 
}
.flex-container{
    display: flex;
   
    justify-content: center;
    height: 100vh;
    width: 100vw;
    align-items: center;
}
.main-panel{
    width: 400px;
    height: 700px;
}
.btn-submit btn{
    align-self: flex-end;
}
