.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.input-group label {
  display: block;
  font-size: 14px;
  color: white;
  margin: 0px;
}

.input {
  border-radius: 15px;
  border: none;
  background-color: #f9f9f9;
  font-size: 14px;
  color: #646464;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 0px 10px 20px;
  margin-bottom: 10px;
}

.input-group .input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(100, 100, 100, 0.5);
}

.input-date {
  justify-content: center;
  padding: 10px;
}
