#messages{
    color: white;
    margin: auto;
    width: 100%;

}

#userInput{
    height: 10vh;
    width: 50vw;
    font-size: xx-large;
}
#main-flex-container{
 
    margin: auto;
    width: 50%;
}
#main-title{
    margin: auto;
    width: 50%;
}
