.output-flex-container{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.meal-output-container{
    max-height: 50vh;
    width: 30vw;
    color:white;
}
.display-output{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
}
.loading-flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.loading-message {
    font-size: 1.5rem;          /* Larger text size */
    color: white;                /* Color of the text */       
    font-weight: bold;          /* Make it bold */
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1); /* Light border */
    border-left-color: #3498db;          /* Blue left border */
    border-radius: 50%;                   /* Make it circular */
    width: 40px;                          /* Width of the spinner */
    height: 40px;                         /* Height of the spinner */
    animation: spin 1s linear infinite;  /* Spin animation */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
