.main-content {
  margin-top: 5rem;
  margin-left: 16.8rem;
  flex-grow: 1;
  width: calc(100% - 16.3rem);
  height: calc(100vh - 5rem);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
