.body-info-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 960px;
  margin: auto;
}
h2 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #f4f4f4;
}
.form-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  width: 100%;
}

.form-group > div {
  flex: 1 1 30%;
  margin-right: 10px;
}

.form-group > div:last-child {
  margin-right: 0;
}

textarea {
  width: 93%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #444;
  color: #c9c9c9;
}

input,
select {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #444;
}
input::placeholder {
  color: #ccc;
}
.submit-button {
  background-color: #ff7846;
  border: none;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}
.submit-button:hover {
  background-color: #e06c41;
}

.highlight {
  color: var(--secondary-color);
}

.custom-multiselect {
  background-color: #444;
  color: #222222;
}

.custom-multiselect .multiselect__input {
  color: #fff;
  background-color: #444;
}

.custom-multiselect .multiselect__option {
  background-color: #444;
  color: #fff;
}

.custom-multiselect .multiselect__option--highlight {
  background-color: #ff7846;
  color: #fff;
}

.custom-multiselect .multiselect__option--selected {
  background-color: #ff7846;
  color: #fff;
}

.custom-multiselect .multiselect__option-container {
  background-color: #333;
}
