.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  border: 0;
}

.login-forms {
  width: 300px;
}

.subtext {
  font-size: small;
  color: white;
  margin: 5px;
}
.subtext .create-account {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.login-heading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding-left: 60px;
}
