.wp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wp-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 640px;
  margin: auto;
}

.wp-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wp-header img {
  width: 80px;
  height: auto;
  margin-right: 10px;
}

.wp-title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.wp-title {
  margin: 0;
}

.wp-subtitle {
  margin: 0;
  font-size: 16px;
}

.wp-submit-btn {
  background: rgb(0, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 255, 255, 1) 0%,
    rgba(170, 255, 255, 1) 100%
  );
  border: none;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
  width: 25%;
  margin-top: 5%;
  margin-bottom: 2%;
  font-weight: bold;
}
.wp-submit-btn:hover {
  background: linear-gradient(
    90deg,
    rgb(5, 212, 212) 0%,
    rgb(130, 196, 196) 100%
  );
}

.highlight {
  color: var(--secondary-color);
}

.wp-text {
  text-align: center;
}
#chat-flex-container{
  width: 98vw;
  display: flex;
  justify-content: flex-end;
}

#chat-container{
  border-radius: 25px;
  position: relative;
  background: linear-gradient(to right, #d35400, #00cec9);
  padding: 3px;
  transition: all 0.5s ease;
  width: 230px;
 
 
}
#chat-container:hover{
  background: linear-gradient(to right, #00cec9, #d35400);

  width: 240px;
}

#btn-chat{
  border-radius: 25px;
  margin:5px;
  height: 75px;
  width: 220px;
  background-color: #2d3436;
  color:white;
  font-size: x-large;
  transition: all 0.3s ease;
  border: none;
  letter-spacing: .1em;

}
#btn-chat:hover{
  
  height: 75px;
  width: 230px;
 



}