.recipe-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meal-plan-container {
  background: #656361;
  margin: 0 20px 20px 20px;
  border-radius: 10px;
  padding: 20px;
  max-height: 90%;
  overflow-y: auto;
}
.meal-plan {
  margin-bottom: 20px;
}

.meal-plan h3 {
  text-align: left;
  margin: 0px 0px 10px 0px;
  color: white;
}

.meal-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
}
