.exercise-page {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workout-carousel {
  width: 90%;
  margin-bottom: 20px;
}

.workout-carousel h2 {
  margin-top: 0;
}

.exercise-page h1 {
  margin-bottom: 0;
}

.exercise-forms {
  width: 300px;
  padding: 0;
  border: 0;
  margin-bottom: 10px;
}
