.chat-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.chat-content {
  height: 100%;
  width: 90%;
}
.chat-buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

#main-title {
  font-size: 2rem;
  color: white;
  text-align: center;
  margin: 0;
}

#output-container {
  max-height: 300px;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 8px;
  color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

#userInput {
  min-height: 10vh;
  width: 97%;
  font-size: 1.2rem;
  border-radius: 8px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  resize: none;
  margin: 10px 0 10px;
}

#btn-chat {
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
  border: none;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 24px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#btn-chat:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

#btn-chat:active {
  transform: scale(0.98);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
