:root {
    --background-color: #2C2C2C;
    --primary-color: #00FFFF;
    --secondary-color: #FF7F50;
    --title-color: #FFFFFF;
    --title-color: #FFFFFF;
    --subtext-color: #D3D3D3;
    --success-color: #32CD32;
  }
  