.ay-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.ay-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 360px;
  margin: auto;
}
h2 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #f4f4f4;
}
.ay-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

.ay-input-label {
  text-align: center;
}

.ay-input-text {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.ay-input-text {
  padding: 8px;
  margin-top: 5px;
  border-radius: 20px;
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
}

.ay-input-text::placeholder {
  color: #000000;
  font-weight: bold;
}

.ay-btn-1 {
  padding: 10px;
}

.ay-btn-2 {
  padding: 10px;
}

.ay-submit-btn {
  background: rgb(255,127,80);
  background: linear-gradient(90deg, rgba(255,127,80,1) 0%, rgb(255, 181, 151) 100%);
  border: none;
  padding: 10px;
  color: #fff;
  border-radius: 25px;
  cursor: pointer;
  width: 250px;
  font-weight: bold;
}
.ay-submit-btn:hover {
  background: linear-gradient(90deg, rgb(212, 109, 72) 0%, rgb(214, 155, 131) 100%);
}

.ay-google-submit-btn {
  background-color: #ffffff;
  border: none;
  padding: 10px;
  color: #000000;
  border-radius: 25px;
  cursor: pointer;
  width: 250px;
}
.ay-google-submit-btn:hover {
  background-color: #c9c9c9;
}

.highlight {
  color: var(--secondary-color);
}
