#dumbbell {
  width: 25px;
  height: 25px;
  margin: 0px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.workout-card {
  border-radius: 8px;
  background-color: #ff7f50;
  width: 300px;
  overflow-y: auto;
  max-height: 300px;
}

.workout-header {
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 10px 0 10px;
}

.workout-card h3 {
  text-align: center;
  color: #ffffff;
  flex: 1;
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #ffffff;
  color: #3d3d3d;
}

thead th {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  border: 1px solid #ddd;
  z-index: 2;
}

th,
td {
  border: 1px solid #ddd;
  padding: 2px;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

.subheading {
  background-color: #525252;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
